/* Filename: src/components/Timer/Timer.css */

/* ====================================
   TIMER ROOT CONTAINER STYLES.
======================================= */
.timer
{
    width: 100%;
    max-width: var(--max-width);

    display: grid;
    place-items: center;
    margin-inline: auto;

    gap: clamp(2.5rem, 7vh, 4rem);
}

/* ====================================
   TIMER HEADER (DURATION PICKER) STYLES.
======================================= */
.timer-header
{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ====================================
   TIMER BODY ( DISPLAY + CONTROLS ) STYLES.
======================================= */
.timer-main
{
  width: 100%;

  display: grid;
  place-items: center;

  gap: clamp(2rem, 5vw, 3.5rem);
}

/* ====================================
   TIMER HISTORY STYLES.
======================================= */
.timer-history
{
  width: 100%;
  max-width: 420px;
  margin-inline: auto;
}
