/* Filename: src/components/TimeSeparator/TimeSeparator.css */

/* ====================================
   TIMESEPARATOR STYLES.
======================================= */
.time-separator
{
   display: inline-block;
   align-items: center;

   font-family: "JetBrains Mono", monospace;
   font-variant-numeric: tabular-nums;

   font-size: 1.05rem;
   font-weight: 500;
   line-height: 1;
   transform: translateY(-0.02em);

   color: var(--accent-soft);
   user-select: none;
   pointer-events: none;
}
